$font-white: #ffffff;
$font-gray: #48555b;
%font-main-title {
  font-size: 20px;
  line-height: 25px;
  color: $font-white;
  font-family: BebasNeueBold;
  letter-spacing: 5.70937px;
}
%font-scroll {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: $font-white;
  letter-spacing: 3.7px;
}
%font-menu {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: $font-gray;
  letter-spacing: 1.09091px;
}
%font-title {
  color: $font-gray;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
}
%link-active {
  color: #00a4e5;
}
%font-bold-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $font-gray;
}
%font-story {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: $font-gray;
  letter-spacing: 0.1875px;
}
%font-story-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: $font-gray;
  letter-spacing: 0.1875px;
}
%font-capabilities {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $font-gray;
  letter-spacing: 0.426667px;
}
%font-capabilities-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: $font-gray;
  letter-spacing: 0.1875px;
}
%font-box {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: $font-white;
}
%font-capabilities {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
}
%cabilities-btn {
  width: 150px;
  height: 37px;
  background-color: #00a4e5;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: $font-white;
  border: #ffffff;
  margin-top: 10px;
}
%font-amazing {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
}
%font-work {
  letter-spacing: 0.846154px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}
%font-contacts {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  color: $font-white;
}
%font-contacts-links {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
  color: $font-white;
}
%container {
  margin: 0 auto;
  max-width: 941px;
  width: 100%;
}
%container-fluid {
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.header {
  @extend %container-fluid;
  max-height: 770px;
  background-image: url(../img/bg__header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  .header__logo {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    img {
      width: 101px;
      height: 23px;
    }
  }
  .header__title {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 300px;
    padding-bottom: 221px;
    @extend %font-main-title;
  }
  .header__scroll-down {
    text-align: center;
    margin-top: auto;
    padding-bottom: 71px;
    @extend %font-scroll;
  }
}
.container {
  @extend %container;
  .nav__logo {
    margin: auto;
    padding-right: 286px;
    margin-bottom: 23px;
  }
  .nav__menu {
    display: flex;
    justify-content: flex-end;

    .nav__menu-item {
      padding: 25px 24px;
      @extend %font-menu;
      text-decoration: none;
      &:hover {
        @extend %link-active;
      }
    }
  }
}
.container-menu {
  width: 100%;
  border: 1px solid #e6e6e6;
}
.story {
  .story__title {
    text-align: center;
    @extend %font-title;
    padding-top: 57px;
    padding-bottom: 110px;
  }
  .story__line {
    border: 1px solid #00a4e5;
    margin: 10px auto;
    max-width: 50px;
  }
  .story__inner {
    display: flex;
    justify-content: space-between;
    .story__left {
      padding-right: 88px;
      .story__text {
        @extend %font-story;
        .story__text--blue {
          color: #00a4e5;
        }
      }
      .story__subtext {
        @extend %font-story-text;
      }
    }
    .story__right {
      max-width: 440px;
      display: flex;
      justify-content: space-between;
      .story__right-plan {
        background-image: url(../img/we-plan.jpg);
        width: 140px;
        height: 224px;
      }
      .story__right-manage {
        background-image: url(../img/we-manage.jpg);
        width: 140px;
        height: 224px;
        margin: 0 20px;
      }
      .story__right-build {
        background-image: url(../img/we-build.jpg);
        width: 140px;
        height: 224px;
      }
      .story__right-description {
        padding-left: 14px;
        @extend %font-box;
      }
    }
    .story__left {
      max-width: 440px;
    }
  }
}
.capabilities {
  margin-bottom: 115px;
  .capabilities__top {
    display: flex;
    justify-content: space-between;
    padding: 119px 0 78px;
    max-height: 40px;
    .capabilities__title {
      @extend %font-title;
      white-space: nowrap;
      .capabilities__line {
        border: 1px solid #00a4e5;
        max-width: 50px;
        max-height: 25px;
        margin-top: 7px;
      }
    }
    .capabilities__text {
      @extend %font-capabilities;
      max-width: 36%;
    }
    .capabilities__btn {
      @extend %cabilities-btn;
    }
  }
  .capabilities__bottom {
    display: flex;
    /* justify-content: space-between; */
    flex-basis: 31%;
    margin-bottom: 115px;
    .capabilities__bottom-box {
      border: 1px solid #e6e6e6;
      max-width: 295px;
      margin: 0px 10.5px;
      img {
        padding: 38px 23px;
      }
      .capabilities__bottom-name {
        padding: 0px 23px 13px;
        width: 250px;
        height: 48px;
        @extend %font-story;
      }
      .capabilities__bottom-text {
        padding: 0px 23px 15px;
        @extend %font-story-text;
      }
    }
  }
}
.container-git {
  /* @extend %container-fluid; */
  background-image: url(../img/bg__button.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-width: 100%;
  .git {
    .git__title {
      text-align: center;
      padding-top: 10%;
      @extend %font-amazing;
      color: $font-gray;
      padding-bottom: 35px;
    }
    .git__btn {
      margin-left: 46%;
      width: 150px;
      height: 37px;
      background-color: #00a4e5;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      color: $font-white;
      border: #ffffff;
      margin-bottom: 232px;
    }
  }
}
.work__signup-flex {
  display: flex;
  justify-content: center;
  background-color: #171819;
  margin: 0 auto;
  .work__signup {
    @extend %font-work;
    color: $font-white;
  }
  .work__signup-area {
    display: flex;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 0px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    .work__signup--email input {
      width: 250px;
      height: 32px;
    }
    .work__signup--blue-btn button {
      width: 150px;
      height: 37px;
      background-color: #00a4e5;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      color: $font-white;
      border: #ffffff;
    }
  }
}
.container-contacts {
  margin: -21px auto;
  width: 100%;
  background-color: #141a20;
  .contacts {
    @extend %container;
    padding: 42px;
    display: flex;
    .contacts__logo-col {
      .contacts__logo-name {
        @extend %font-contacts;
      }
      .contacts__logo img {
        width: 101px;
        height: 23px;
        padding: 10px 0 10px;
      }
      .contacts__logo-text {
        @extend %font-contacts;
        max-width: 250px;
      }
    }
    .contacts__links-1 {
      margin-top: 2px;
      ul {
        list-style: none;
        @extend %font-contacts;
        li {
          @extend %font-contacts-links;
        }
      }
    }
    .contacts__links-2 {
      margin-top: 17px;
      ul {
        list-style: none;
        @extend %font-contacts;
        li {
          @extend %font-contacts-links;
        }
      }
    }
    .contacts__links-3 {
      margin-top: 17px;
      ul {
        list-style: none;
        @extend %font-contacts;
        li {
          @extend %font-contacts-links;
        }
      }
    }
    .contacts__links-info {
      @extend %font-contacts;
      padding-left: 58px;
      padding-right: 80px;
    }
    .contacts__link-sm {
      padding: 22px 12.5px;
    }
  }
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.footer {
  background-color: #171819;
  min-height: 60px;
  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__copyright-text {
      @extend %font-contacts;
    }
  }
}

@media screen and (max-width: 900px) {
  %container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
  .nav__logo{
    padding-right: 0px !important;
  }
  .capabilities__bottom {
    flex-direction: column;
    margin: 0 250px;
  }
  .header {
    max-height: 472px;
    .header__title {
      padding-top: 149px;
      padding-bottom: 109px;
      font-size: 16px;
    }
  }
  .container-git {
    height: 37vh;
    .git {
      .git__btn {
        margin-left: 42%;
      }
    }
  }
  .contacts__links-sm{
    display: flex;
  }
}

@media screen and (max-width: 760px){
  %container {
    margin: 0 auto;
    max-width: 680px;
    width: 100%;
  }
  .contacts__links-sm{
    display: block;
  }
}
@media screen and (max-width: 630px){
  %container {
    margin: 0 auto;
    max-width: 580px;
    width: 100%;
  }
  .nav__menu-item{
    padding: 25px 13px !important;
  }
  .story__inner{
  display: block !important;
  margin-left: 72px;
  }
  .capabilities__bottom{
    margin: 0 150px;
  }
  .work__signup-title{
    padding-left:10px;
    padding-top: 7px;
  }
  .work__signup-area{
    margin-left: 0px;
    .work__signup--email input{
      width: 150px !important;
    }
  }
  .contacts{
    display: block !important;
    text-align: center;
    padding: 15px 0px !important;
  }
  .contacts__logo-text{
    max-width: 540px !important;
  }
  .contacts__logo-text{
    padding-right: 50px;
  }
  .contacts__links-1 ul{
    padding-inline-start: 0px;
  }
  .contacts__links-2 ul{
    padding-inline-start: 0px;
  }
  .contacts__links-3 ul{
    padding-inline-start: 0px;
  }
}
@media screen and (max-width: 375px){
  .header{
    max-height: 191px;
    .header__logo{
      padding-top: 15px;
    }
    .header__title{
      padding-top: 25px;
      padding-bottom: 10px;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 4.70937px;
    }
    .header__scroll-down{
      font-size: 9px;
    }
  }
  .nav__menu{
    display: flex;
    flex-direction: column;
    .nav__menu-item{
      padding: 25px 40px !important;
    }
    .nav__logo{
      padding-top: 20px;
    }
  }
  .story__title{
    padding-bottom: 30px !important;
  }
  .story__right{
    display: block !important;
    padding-left: 27px;
    padding-top: 15px;
    .story__right-manage{
      margin: 0 0px !important;
    }
    .story__right-description{
      padding-top: 30px;
    }
  }
  .capabilities__top{
    display: block !important;
    max-height: none !important;
    padding-left: 88px !important;
  }
  .capabilities__bottom{
    margin: 0px 50px;
  }
  .container-git{
    height: 14vh;
    .git{
      .git__title{
        padding:0px 0px !important;
        font-size: 22px;
        line-height: 25px;
      }
      .git__btn{
        margin-left: 30%;
        width: 130px;
        height: 26px;
        margin-top: 5px;
      }
    }
  }
  .work__signup-area{
    display: block !important;
    padding-right: 8px;
    .work__signup--email input{
      width: 142px !important;
    }
  }
  .contacts__logo-text{
    padding-right: 0px;
  }
}